<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @direction.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @direction.destination %>
</p>

<p>
  <strong>Status:</strong>
  <%= @direction.status %>
</p>

<p>
  <strong>Options:</strong>
  <%= @direction.options %>
</p>

<p>
	<strong>Routes:</strong><br>
	<% @direction.routes.each_with_index do |route, rindex| %>
	<p>
		<%= rindex + 1 %>: <%= route.overview %> <br>
		距离: <%= route.distance / 1000.0 %> 公里 <br>
		时间: <%= (route.duration / 60.0).round(1) %> 分钟 <br>
		<img src="<%= direction_path(@direction) + "/#{rindex+1}/staticmap" %>" alt="">
	</p>
	<ul>
		<% route.steps.each_with_index do |step, sindex| %>
		<li>
			<%= case step.travel_mode
			when 'TRANSIT'
				"乘坐 #{step.transit_details[:name]} 到 #{step.transit_details[:arrival]}站 (#{step.transit_details[:headsign]}方向)"
			else
				raw step.html_instructions.join('<br>')
			end %> <br>
			距离: <%= step.distance / 1000.0 %> 公里 <br>
			时间: <%= (step.duration / 60.0).round(1) %> 分钟 <br>
			<img src="<%= direction_path(@direction) + "/#{rindex+1}/#{sindex+1}/staticmap" %>" alt="">
			<% end %>
		</li>
	</ul>
	<% end %>
</p>

<%= link_to 'Edit', edit_direction_path(@direction) %> |
<%= link_to 'Back', directions_path %>
